@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.navbar {
  width: 1140px;
  margin: auto;
  margin-top: 15px
}

.banner {
  width: 1140px;
  margin: auto;
  margin-top: 90px;
}

.banner-description {
  width: 550px;
}

/* card section*/
.our-plant {
  width: 1140px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px
}

.plant-description {
  max-width: 100%;
  /* margin: auto; */
  margin-top: 18px
}

/* card section */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.card,
.flower-name {
  font-size: 22px;
  font-weight: 500;
}

.card-btn {
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px
}

.plant-card {
  margin-top: 29px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}

/* flower plants lovers section */
.flower-plants-lover {
  display: flex;
  width: 1140px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px
}

.plants-lover-title {
  font-size: 50px;

}

.flower-lover-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 90px;

}

/* latest deals section */
.latest-container {
  width: 1140px;
  margin: auto;
  margin-bottom: 40px
}

.latest-title {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
}

.latest-description {
  color: #6D7384;
  font-size: 22px;
  width: 77%;
  text-align: center;
  margin-bottom: 100px;


}

.img-1 {

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* join our colorful section */
.join-colorful-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../images/news-letter-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  margin: 70px 0 80px 0
}

.join-color-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;

}

.subscribe-int {
  background-color: white;
  width: 600px;
  padding: 15px 300px 15px 20px;

}

.join-colorful-container input[type="email"] {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;

}

.subscribe-btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  background-color: #E95A08;
  padding: 16px 53px 16px 53px;
  cursor: pointer;
}

.footer-container {
  width: 1120px;
  margin: auto;
  margin-bottom: 50px;


}

.footer-inner-container {
  display: flex;
  justify-content: space-between;


}

.footer-list {
  list-style: none;
  row-gap: 7px;
}

.footer-description {
  font-size: 22px;
  width: 390px;
  margin-top: 10px
}

.footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
}

/* .icon{
  width:10px
} */
@media screen and (max-width:576px) {
  .footer-container{
    width:auto;
    margin-left:20px;
    margin-right:20px;
  }
  .footer-inner-container{
    flex-direction:column;
    gap:20px;
   
  }
  .footer-description{
    width: auto;
    font-size:16px;
  }
   .navbar {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-link {
    display: none
  }

  /* banner section */
  .banner {
    width: auto;
    /* flex-direction: ; */
    margin: 50px 0px 12px 0px;
  }

  .banner-description {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .description-title {
    font-size: 28px
  }

  .description-title p {
    margin-bottom: 7px
  }

  .description {
    margin-top: 10px;
    font-size: 15px;
  }

  .banner-img {
    width: 100%;
  }

  /* plant card section */
  .plant-description {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 15px;
  }

  /* card */
  .our-plant {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .plant-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 100%
      /* width:calc(100%-20px); */
  }

  .card-btn {
    font-size: 16px;
    font-weight: 500;
  }

  .card,
  .flower-name {
    font-size: 16px;
    font-weight: 500;
  }

  .card,
  .card-tk {
    font-size: 16px;
    font-weight: 500;
  }

  /* batch  */
  .flower-plants-lover {
    width: auto;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
  }

  .plants-base {
    display: none;
  }

  .plant-img {
    width: auto;

  }

  .flower-lover-container {
    flex-direction: column;
    align-items: center;
    /* margin:auto */
  }

  .plants-lover-title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;

  }

  /* flower container */
  .latest-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .latest-title {
    font-size: 24px;
  }

  .latest-description {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .latest-description {
    width: 100%;
  }

  .flower-container {
    margin-bottom: 20px;

  }

  .join-colorful-container {
    object-position: center;
    margin-bottom:50px;
  }

  .join-input {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .join-color-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .subscribe-int {
    padding: 10px;
    width: 10%
  }

  .subscribe-btn {
    width: auto;
    margin-left: 3px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
  }

}